<div class="map-view-container">
  <div class="map-view">
    <input class="map-view__toggle-check" id="map-view__toggle-check" type="checkbox" role="button"/>
    <label class="map-view__toggle-label" for="map-view__toggle-check"></label>
    <section class="map-view__map">
      <app-map *ngIf="loadMap" [HotelMarkerDataList]="hotelMarkerDataList" [MapCardDataList]="mapCardDataList" [ZoomLevel]="11" [MapStyle]="2"
               (EmitInfoWindowClose)="resetSelectedMapCard()"
               [EnteredMapCardID]="enteredMapCardID" (EmitMapClick)="resetSelectedMapCard()"
               (EmitSelectedMarkerId)="scrollToCards($event)"></app-map>
    </section>
    <section class="map-view__results">
      <ng-container *ngFor="let mapCardData of mapCardDataList; let i = index;">
        <app-map-card [id]="mapCardData.uid"
                      (mouseenter)="mouseEnterMapCard(mapCardData, i); (mapCardData.uid == selectedMarkerID) ? '':(selectedMarkerID = undefined)"
                      [Hotel]="mapCardData.hotel" [Generic]="mapCardData.generic"
                      (mouseleave)="mouseLeaveMapCard(mapCardData, i)" class="map-card"
                      [ngClass]="(mapCardData.uid == selectedMarkerID) ? 'map-card--highlight':''"></app-map-card>
      </ng-container>
    </section>
  </div>
</div>
